.loader {
	align-items: center;
	bottom: 0;
	display: flex;
	left: 0;
	height: 100%;
	justify-content: center;
	position: absolute;
	right: 0;
	top: 0;

	svg {
		animation: spinner 1s infinite linear;
		height: 48px;
		width: 48px;
	}

	circle {
		animation: pulse 2s infinite ease-in-out;
		fill: transparent;
		stroke: #666;
		stroke-dasharray: 96;
		stroke-linecap: round;
		stroke-width: 8;
		transform-origin: 50% 50%;
	}
}

// -----------------------------------------------------------------------------

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(1);
	}
}
